* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

header {
    background-color: white;
    width: 100%;
    margin: auto;
}

.contain {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.img {
    max-width: 100%;
    height: auto;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu-list {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: auto;
}

.nav-link {
    color: #645d5d;
    text-decoration: none;
}

.nav-link:hover {
    color: #981d87;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.logo {
    width: 210px;
    color: #981d87;
}

.signup-button {
    background: #981d87;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    margin: left 80px;
}

.signup-button a {
    color: white;
    text-decoration: none;
}

.sign-button {
    background: #981d87;
    padding: 10px 40px;
    border-radius: 50px;
    border: none;
    margin: left 80px;
}

.sign-button a {
    color: white;
    text-decoration: none;
}

.sign-button {
    display: none;
}

.search {
    display: none;
}

.header-bar {
    color: #645d5d;
    display: none;
}

/* header media query  */
@media(max-width: 1297px) {
    .signup-button {
        display: none;
    }

    .sign-button {
        display: block;
    }

    .contain {
        width: 100%;
    }
}

@media(max-width: 1211px) {
    nav {
        justify-content: space-evenly;
    }

    .logo {
        width: 180px;
    }

    .sign-button {
        padding: 10px 30px;
    }
}

@media(max-width:1097px) {
    nav {
        width: 100%;
    }

    .logo {
        width: 150px;
    }

    .sign-button {
        padding: 6px 20px;
    }
}

@media(max-width:1024px) {
    nav {
        display: flex;
        justify-content: space-around;
    }

    .nav-button {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .contain {
        width: 100%;
    }

    .menu-list {
        display: none;
    }

    .search {
        display: block;
    }

    .header-bar {
        display: block;
    }
}

@media(max-width: 878px) {
    .sign-button {
        padding: 6px 10px;
    }
}

@media(max-width:370px) {
    .sign-button {
        display: none;
    }
}

/* hero section  */
.hero-sec {
    width: 100%;
    background: #FAFAFA;
    display: flex;
}

.hero-list {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 10px;
}

.hero-link {
    color: #645d5d;
    text-decoration: none;
}

.hero-list li {
    position: relative;
}

.drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 10px 0;
    display: none;
}

.dropdown:hover .drop-menu {
    display: block;
}

.drop-menu li {
    padding: 10px 20px;
}

.drop-menu li:hover {
    background: black;
}

.hero-link:hover {
    color: #981d87;
}

.hero-link:hover {
    color: #981d87;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* hero section media query  */
@media(max-width:1024px) {
    .hero-list {
        display: none;
    }
}


/* carousel section  */
.carousel-inner {
    height: 83vh;
}
.caro-one{
    position: absolute;
    width: 38%;
    top: 4%;
    left: 12%;
}
.caro-two{
    position: absolute;
    width: 40%;
    top: 0%;
    left: 49%;
}
.caro-three{
    position: absolute;
    width: 38%;
    top: 0%;
    left: 50%;
}
.caro-four{
    position: absolute;
    width: 40%;
    top: 0%;
    left: 10%;
}
.caro{
    position: absolute;
    width: 35%;
    left: 5%;
}
.three-one{
    display: block;
    position: absolute;
    top: 0%;
    width: 40%;
}
.caro-five{
    display: block;
    position: absolute;
    left: 78%;
}
.caro-six{
    display: block;
    margin: auto;
    position: absolute;
    width: 35%;
    left: 38%;
    top: 10%;
}
.caro-seven{
    position: absolute;
    width: 40%;
    top: 2%;
    left: 13%;
}
.caro-eight{
    position: absolute;
    width: 30%;
    top: 13%;
    left: 53%;
}
.caro-nine{
    position: absolute;
    width: 40%;
    top: 0%;
    left: 10%;
}
.caro-ten{
    position: absolute;
    top: 0%;
    left: 46%;
}
.caro-eleven{
    position: absolute;
    width: 45%;
    left: 50%;
    top: 0%;
}
.caro-twelve{
    position: absolute;
    left: 8%;
}
.teen-one{
    position: absolute;
    display: block;
    top: 4%;
    left: 1%;
}
.teen-two{
    position: absolute;
    display: block;
    top: 7%;
    left: 33%;
}
.teen-three{
    position: absolute;
    display: block;
    top: 18%;
    left: 62%;
}
.caro-hero{
    position: relative;
    height: 700px;
    object-fit: cover;
    object-position: center;
}
.eight-one{
    position: absolute;
    top: 0%;
    left: 8%;
}
.eight-two{
    position: absolute;
    top: 0%;
    left: 52%;
}
.nine-one{
    position: absolute;
    top: 0%;
    left: 10%;
}
.ten-two{
    position: absolute;
    top: 0%;
    left: 50%;
}

/* card section  */
.help-section {
    background-color: #f6f6f6;
    height: 30vh;
}

.help-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 30vh;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: auto;
}

.card {
    width: 202px;
    height: 112px;
    display: flex;
    align-items: center;
    background: white;
    justify-content: space-evenly;
}

.card:hover {
    transform: translateY(-12px);
    transition: 0.1s;
    box-shadow: 0 0 0 1px 1px #e5e5e5;
}

.card a {
    text-decoration: none;
}

.card a img {
    width: 6vh;
    display: flex;
    margin: auto;
}

.para-card {
    color: #645d5d;
    text-decoration: none;
}

.accord {
    padding: 80px 0;
}

.accordion {
    background: white;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}

.accordion summary {
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
    list-style-type: none;
}

.accordion summary::-webkit-details-marker {
    display: none;
}

.accordion p {
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    color: #a7a2a2e1;
}

/* .card media query  */
@media(max-width:1201px) {
    .help-card {
        width: 90%;
    }

    .card {
        width: 200px;
        height: 108px;
        display: flex;
        align-items: center;
        background: white;
        justify-content: space-evenly;
    }
}

@media(max-width:995px) {
    .help-card {
        width: 100%;
    }
}

@media(max-width:861px) {
    .help-card {
        width: 100%;
    }

    .card {
        width: 200px;
        height: 108px;
        display: flex;
        align-items: center;
        background: white;
        justify-content: space-evenly;
    }
}

@media(max-width:770px) {
    .help-section {
        display: none;
    }

    .accordion {
        display: block;
    }
}

/* elevate section  */
.elevate {
    background: white;
    margin-top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.product-sect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* margin-top: -10vh; */
}

.products {
    /* border: 2px solid black; */
    margin: auto;
}

.products h6 {
    color: #981d87;
}

.products p {
    color: #645d5d;
}

/* card-one section  */
.card-sect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    margin: auto;
}

.card-one {
    padding: 20px;
    /* border: 2px solid red; */
    background: #FCF5FB;
    border-radius: 5px;
    margin-top: 20px;
}

.card-one:hover {
    background: #fdecfc;
    transform: translateY(-8px);
    transition: 0.3s;
    box-shadow: 0 15px 15px #e5e5e5;
}

.card-one img {
    width: 100px;
    /* height: 80px; */
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 4vh;
}

.arrow-card {
    color: black;
    margin-bottom: 10px;
}

.card-one a {
    text-decoration: none;
    color: black;
}

.card-one h6 {
    font-size: 20px;
    /* font-weight: 50px; */
    margin-bottom: 15px;
}

.card-one p {
    line-height: 1.7;
    margin-bottom: 20px;
    color: #645d5d;
}

.card-one:hover a,
.card-one:hover .arrow-card {
    color: #981d87;
    transition: 0.5s ease-in;
}

/* card-one media query */
@media(max-width:1281px) {
    .elevate {
        width: 80%;
        margin: auto;
    }

    @media(max-width:1025px) {
        .product-image {
            display: none;
        }

        .products {
            background-image: url(./images/product.svg);
            margin-bottom: 5vh;
        }
    }

    @media(max-width:770px) {
        .card-sect {
            display: flex;
            overflow-x: auto;
            width: 100%;
            gap: 30px;
            padding: 5px;
            scroll-snap-type: x mandatory;
        }

        .card-sect::-webkit-scrollbar {
            display: none;
        }

        .card-one {
            /* min-width: 85vw; */
            width: 270px;
            flex-shrink: 0;
            scroll-snap-align: start;
            scroll-behavior: smooth;
        }

        .card-image {
            width: 10vh;
        }
    }
}

/* SME section  */
.SME {
    width: 100%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2em;
    overflow: hidden;
}

.sme-sect {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sme-img {
    align-items: center;
}

.partner img {
    width: 6vh;
}

.partner h6 {
    color: #981d87;
    margin-top: 2vh;
    font-size: medium;
    font-weight: 600;

}

.partner h3 {
    font-weight: 600;
}

.partner p {
    font-size: small;
}

.sme-button {
    background: #981d87;
    width: 28vh;
    height: 8vh;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
}

.sme-button a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.arrow-sme {
    color: white;
}

.sme-button:hover {
    background: white;
    border: 2px solid #981d87;
}

.sme-button a,
.sme-button .arrow-sme {
    color: white;
}

.sme-button:hover a,
.sme-button:hover .arrow-sme {
    color: #981d87;
    transition: 0.5s ease-in;
}


/* pos section  */
.pos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 15vh;
    gap: 2em;
    margin: auto;
    margin-top: 12vh;
}

.pos-sect {
    padding: 20px;
    gap: 20vh;
    border: 0.5px solid antiquewhite;
    background: white;
    border-radius: 5px;
    margin-top: -11vh;
    box-shadow: 0 3px 3px #E7E7E7;
}

.pos-sect:hover {
    transform: translateY(-8px);
    transition: 0.3s;
    box-shadow: 0 15px 15px #e5e5e5;
}

.pos-sect:hover h4 {
    color: #981d87;
    transition: 0.5s ease-in-out;
}

.pos-img {
    width: 5vh;
    height: 5vh;
}

.loan-img {
    width: 6vh;
    height: 6vh;
}

/* custom section  */
.custom {
    width: 100%;
    margin-top: 30vh;
    height: 70vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.git {
    width: 100px;
    max-width: 100%;
    height: auto;
}

.cus-sect {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.custom-text h5 {
    color: #981d87;
    margin-top: 2vh;
}

.custom-text p {
    color: #645d5d;
    font-size: small;
}

.custom-button {
    background: #981d87;
    border: none;
    width: 27vh;
    height: 8vh;
    border-radius: 50px;
}

.custom-button a {
    color: white;
    text-decoration: none;
}

.custom-button:hover {
    background: white;
    border: 2px solid #981d87;
}

.custom-button a,
.custom-button .arrow-custom {
    color: white;
}

.custom-button:hover a,
.custom-button:hover .arrow-custom {
    color: #981d87;
    transition: 0.5s ease-in;
}


/* ALAT section  */
.ALAT {
    width: 100%;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alat-sect {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10vh;
}

.alat-img {
    width: 6vh;
    margin-bottom: 15px;
}

.alat-text h5 {
    color: #981d87;
}

.alat-text p {
    color: #645d5d;
    font-size: small;
}

.alat-button {
    background: #981d87;
    border: none;
    width: 27vh;
    height: 8vh;
    border-radius: 50px;
}

.alat-button a {
    color: white;
    text-decoration: none;
}

.alat-button:hover {
    background: white;
    border: 2px solid #981d87;
}

.alat-button a,
.alat-button .arrow-alat {
    color: white;
}

.alat-button:hover a,
.alat-button:hover .arrow-alat {
    color: #981d87;
    transition: 0.5s ease-in;
}



/* investor section  */
.investor {
    width: 100%;
    height: 100vh;
    background-image: url('./images/footerimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.invest-relate {
    display: flex;
    width: 80%;
    height: 70vh;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.invest-text {
    width: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-right: 82vh;
    margin-top: -35vh;
}

.invest-text h6 {
    color: #D1D5DB;
}

.invest-text h2 {
    color: white;
}

.invest-text p {
    color: #D1D5DB;
    font-size: small;
}

.invest-image {
    margin-left: 85vh;
}

.trade {
    display: flex;
    flex-direction: column;
    margin-right: 146vh;
    position: absolute;
    width: 20vh;
    /* border: 2px solid blue; */
}

.trade h4 {
    color: #EC49DE;
}

.trade p {
    color: #D8B5BE;
}

.last {
    display: flex;
    flex-direction: column;
    margin-right: 62vh;
    position: absolute;
    width: 20vh;
    /* border: 2px solid blue; */
}

.last h4 {
    color: #EC49DE;
}

.last p {
    color: #D8B5BE;
}

.change {
    display: flex;
    flex-direction: column;
    margin-right: 146vh;
    position: absolute;
    margin-top: 20vh;
    width: 20vh;
    /* border: 2px solid blue; */
}

.change h4 {
    color: #EC49DE;
}

.change p {
    color: #D8B5BE;
}

.bbb {
    display: flex;
    flex-direction: column;
    margin-right: 62vh;
    position: absolute;
    width: 20vh;
    margin-top: 20vh;
    /* border: 2px solid blue; */
}

.bbb h4 {
    color: #EC49DE;
}

.bbb p {
    color: #D8B5BE;
}

.invest-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    margin: auto;
}

.share {
    background: white;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
}

.share h5 {
    width: 80%;
    margin: auto;
    margin-top: 3vh;
}

.share p {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: small;
    width: 80%;
    margin-bottom: 3vh;
}

.track {
    margin-top: -10vh;
}

.share h5:hover {
    color: #981D87;
}

/* sustain section  */
.sustain {
    background: #FBFBFB;
    height: 100vh;
}

.sustainable {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 6vh;
    justify-content: space-evenly;
}

.sustain-img {
    display: flex;
}

.sus-button {
    background: #981d87;
    border: none;
    width: 27vh;
    height: 8vh;
    border-radius: 50px;
}

.sus-button:hover {
    background: white;
    border: 2px solid #981d87;
}

.sus-button a {
    color: white;
    text-decoration: none;
}

.sus-button a,
.sus-button .arrow-sustain {
    color: white;
}

.sus-button:hover a,
.sus-button:hover .arrow-sustain {
    color: #981d87;
    transition: 0.5s ease-in;
}

.sustain-img {
    position: relative;
    width: 80%;
    height: 65vh;
}

.image-s {
    position: absolute;
    width: 50%;
}

.image-su {
    position: absolute;
    width: 45%;
    height: 20%;
    right: -5px;
}

.image-sus {
    position: absolute;
    width: 50%;
    height: 15vh;
    right: 20vh;
    top: 40vh;
    left: 4px;
}

.image-sust {
    position: absolute;
    width: 45%;
    height: 58%;
    right: -10px;
    top: 15vh;
}

.sus-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    gap: 2em;
    align-items: center;
}

.card-two {
    background: white;
    box-shadow: 0 0 1px 1px #eae7e7;
    height: 25vh;
    margin: auto;
}

.card-two p {
    font-size: 14px;
}

.card-two:hover {
    transform: translateY(-8px);
    transition: 0.3s;
}

.card-two h5:hover {
    color: #981d87;
    transition: 0.5s ease-in-out;
}

/* test section  */
.test-sect {
    background: white;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

.test {
    width: 100%;
    margin: auto;
}

.test-card {
    display: flex;
    max-height: 120vh;
    overflow-x: auto;
    scroll-behavior: smooth;
    border: 1px solid gray;
}

.test-card::-webkit-scrollbar {
    display: none;
}

.test-card .testcard {
    min-width: 100px;
    height: 30vh;
    text-align: center;
    background-color: white;
    margin-right: 2px;
}

.testcard h6 {
    margin-top: 10vh;
}

.test-text h6 {
    font-size: 16px;
    font-weight: 600;
    color: #981d87;
    margin-bottom: 20px;
}

.test-text h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* mobile section  */
.mobile {
    width: 100%;
    height: 60vh;
    background-image: url('./images/footerimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}
.mobile-sect{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.download{
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40vh;
    margin-left: 16vh;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14vh;
    gap: 1em;
}
.phone h5{
    color: white;
}
.mob-button h5{
    color: white;
    width: 70%;
    margin-bottom: 4vh;
    font-size: 16px;
    font-weight: 400;
}
.mob-button{
    margin-top: 36vh;
    /* gap: 5em; */
}
.m-button{
    border: 1px solid white;
    padding: 13px 16px;
    background: #5C1957;
    border-radius: 5px;
    margin-bottom: 2vh;
}
.m-button a{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.mob-button img{
    margin-bottom: 4vh;
}
.m-post{
    position: absolute;
}
.m-one{
    position: absolute;
    right: 85%;
    bottom: 0vh;
}
.m-two{
    position: absolute;
    right: 63%;
    bottom: 35vh;
}
.m-three{
    position: absolute;
    bottom: 1vh;
    right: 40vh;
}

/* press release  */
.press{
    background: #FBFBFB;
    width: 100%;
}
.press-card{
    width: 100%;
    min-height: 86vh;
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border: 2px solid red;
}
.press-card img{
    margin-left: 2vh;
}




/* footer section  */
.foot {
    width: 100%;
    height: 90vh;
    background-image: url('./images/footerimage.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.contain {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footer-layout {
    display: flex;
    gap: 80px;
}

.footer-left {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f-logo {
    width: 190px;
}

.fa-facebook {
    color: white;
    background: #981d87;
}

.fa-x-twitter {
    color: white;
    background: #981d87;
}

.fa-instagram {
    color: white;
    background: #981d87;
}

.fa-linkedin {
    color: white;
    background: #981d87;
}

.license {
    display: flex;
    gap: 0.5em;
    color: white;
    align-items: center;
}

.social {
    display: flex;
    gap: 10px;
    color: white;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15vh;
}

.app h6 {
    color: white;
    font-size: 14px;
}

.right {
    color: white;
    margin-top: 20vh;
    font-size: 14px;
}

.footer-right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 80px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-box h6 {
    color: white;
}

.footer-box a {
    color: #ece6e6b1;
    text-decoration: none;
    font-size: 14px;
}

.footer-box span {
    color: #ece6e6b1;
    text-decoration: none;
    font-size: 14px;
}

.footer-box a:hover {
    color: #EC49DE;
}

.under {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* height: 4vh; */
    margin: auto;
    color: #B31D87;
}

.foot-under {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    gap: 1em;
}

.line {
    width: 100%;
    border: 1px solid #ece6e6b1;
}

.right-under {
    color: white;
}

.social-under {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 20px;
}

.under-face {
    color: white;
    background: #54164F;
}

.under-tweet {
    color: white;
    background: #54164F;
}

.under-ins {
    color: white;
    background: #54164F;
}

.under-link {
    color: white;
    background: #54164F;
}

.mobil-only {
    display: none;
}

/* footer media query  */
@media(max-width:881px) {
    .footer-right {
        gap: 5px 10px;
    }
}

@media(max-width:729px) {
    .foot {
        height: 140vh;
    }

    .footer-layout {
        width: 80%;
        margin: auto;
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        width: 100%;
    }

    .footer-right {
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .app {
        margin-top: 1vh;
    }

    .social {
        display: none;
    }

    .right {
        display: none;
    }

    .mobil-only {
        display: block;
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4vh;
        gap: 1em;
    }
}

@media(max-width: 521px) {
    .foot {
        height: 160vh;
    }
}

@media(max-width: 500px) {
    .foot {
        height: 180vh;
    }
}

@media(max-width: 456px) {
    .foot {
        height: 190vh;
    }
}

@media(max-width:365px) {
    .footer-layout {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}